.cell {
    position: relative;
    border: 1px solid;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    color: green;
}
.selected {
    position: relative;
    border: 1px solid;
    width: 30px;
    height: 30px;
    color: greenyellow;
}
.selected::after {
    position: absolute;
    background-color: greenyellow;
    border: green 1px solid;
    width: 30px;
    height: 5px;
    visibility: visible;
    content: '';
    top: -10px;
    bottom: 0;
    right: 0;
    left: 0;
}
.selected::after {
    animation: my-animation 800ms linear infinite;
}


@keyframes my-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}