.set {
    background-color: #0e0e11;
    border: 1px solid green;
    color: greenyellow;
    cursor: pointer;
}
.set:hover {
    animation: my-animation 800ms linear infinite;
}


@keyframes my-animation {
    0% {
        color: transparent;
    }
    50% {
        color: greenyellow;
    }
    100% {
        color: transparent;
    }
}